/* animation */
body{
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}
.gradient-bg {
  height: auto;
  /* width: 100%; */
  /* overflow-x: hidden; */
  position: relative;
  background: linear-gradient(
    -45deg,
    #105189,
    #d1495b,
    #023577,
    #d1495b,
    #747796,
    #d1495b
  );
  background-size: 500% 500%;
  /* -webkit-animation: background-gradient 15s ease infinite; */
  animation: background-gradient 30s ease infinite;
}
@keyframes background-gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.container {
  padding: 30px 75px 20px;
}

.navbar {
  height: 100px;
  widows: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#logo {
  width: 200px;
  height: auto;
}
.navbar-link-tag {
  color: white;
  text-decoration: none;
  padding: 0 10px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
