.limits {
  padding: 30px 75px 20px;
}
.navbar {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.4);
  height: 120px;
  widows: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#logo {
  width: 100px;
  height: auto;
  cursor: pointer;
}
.navbar-link-tag {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
}
.navbar-link-tag:hover {
  color: #fe2803;
  transform: scale(1.1);
  transition: ease 500ms;
  text-shadow: 0 0 10px whitesmoke;
}

.main-text {
  /* background-color: rgba(0, 0, 0, 0.2); */
  color: whitesmoke;
  font-family: "Open Sans", sans-serif;
}
#main-text-header {
  text-shadow: 0 0 15px red;
  font-size: 40px;
  margin: 15px 0;
}
#main-text-paragraph {
  font-size: 20px;
  line-height: 1.5;
}

/* for footer */
.footer {
  background-color: rgba(0, 0, 0, 0.4);
  color: aliceblue;
  margin-bottom: -100px;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -100px;
}
